<body>
    <main>
        <div class="emprendimientos-container">
            <% emprendimientos.forEach(e => { %>
                <a href="/emprendimiento/<%= e._id %>" class="emprendimiento-element card">
                <img src="<%= e.image || '/default-image.jpg' %>" alt="Imagen de <%= e.name %>" />
                <div class="emprendimiento-info">
                    <h3><%= e.name %></h3>
                    <p><%= e.description %></p>
                    <div class="dueño">
                    <div class="avatar"><%= e.user_id ? e.user_id.nombre.charAt(0) + e.user_id.apellidos.charAt(0) : '??' %></div>
                    <span><%= e.user_id ? e.user_id.nombre + ' ' + e.user_id.apellidos : 'Sin dueño' %></span>
                    </div>
                    <span class="fecha">Fecha de creación: <%= new Date(e.date).toLocaleDateString('es-CR', { day: 'numeric', month: 'long', year: 'numeric' }) %></span>
                </div>
                </a>
            <% }) %>
        </div>
    </main>
</body>
</html>
