<body>
  <main class="emprendimiento-container">
    <div class="emprendimiento-content">
      <div class="emprendimiento-info">
        <div class="emprendimiento-header">
          <h2 id="emprendimiento-name" class="active">
            <%= emprendimiento.name %>
          </h2>
        </div>
        <div>
          <div class="emprendimiento-details">
            <div class="emprendimiento-descripcion">
              <i class="bx bxs-info-circle"></i>
              <p class="emprendimiento-text active">
                <%= emprendimiento.description %>
              </p>
            </div>
            <div class="emprendimiento-direccion">
              <i class="bx bxs-map"></i>
              <p class="emprendimiento-text active">
                <%= emprendimiento.address %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="emprendimiento-image-container">
        <img 
          src="<%= emprendimiento.image ? '/uploads/' + emprendimiento.image : '/images/default.jpeg' %>" 
          alt="<%= emprendimiento.name %>" 
          id="emprendimiento-img" 
        />
      </div>
    </div>
  </main>
</body>