<body>
    <main>

        <section class="bus-banner">
            <img src="/images/banner-buses.jpg" alt="Banner Horarios de Buses">
        </section>
    
        <section class="bus-schedule">
            <h2>Horarios de buses disponibles</h2>
            <% if (busSchedulesFormatted.length == 0) { %>
                <%- include('../partials/content-not-found', { title: 'No se encontraron horarios de buses', helpText: 'Si crees que esto es un error, escribe un ', tooltip: 'tiquete de soporte', href: '/form/form-tiquete' }) %>
            <% } else { %>
                <div class="bus-grid">
                    <div class="grid-header">Destino</div>
                    <div class="grid-header">Horario</div>
                    <div class="grid-header">Dirección</div>
                    <div class="grid-header">Precio</div>
                    <div class="grid-header">Espera</div>

                    <% busSchedulesFormatted.forEach(a => { %>
                        <div class="grid-item" data-label="Destino"><%= busSchedulesFormatted.destination %></div>
                        <div class="grid-item" data-label="Horario"><%= busSchedulesFormatted.arrival_time %></div>
                        <div class="grid-item" data-label="Dirección"><%= busSchedulesFormatted.address %></div>
                        <div class="grid-item" data-label="Precio">₡<%= busSchedulesFormatted.price %></div>
                        <div class="grid-item" data-label="Espera"><%= busSchedulesFormatted.wait_time_minutes %> min</div>
                    <% }) %>
                        
                </div>
            <% } %>
        </section>
    </main>
</body>