<body>
    <main class="emprendimiento-container">
        <div class="emprendimiento-content">
            <div class="emprendimiento-info">
                <div class="emprendimiento-header">
                    <div class="emprendimiento-status
                        <% if (emprendimiento.status === 'pendiente') { %> estado-pendiente <% } else if (emprendimiento.status === 'aprobado') { %> estado-aprobado <% } else if (emprendimiento.status === 'rechazado') { %> estado-rechazado <% } %>">
                        <%= emprendimiento.status %>
                    </div>
                    <h2 id="emprendimiento-name" class="active">
                        <%= emprendimiento.name %>
                    </h2>
                    <div class="edit-form-container inactive">
                        <input class="edit-form-input" id="emprendimiento-name-input" type="text" name="name" value="<%= emprendimiento.name %>">
                        <small class="error-message inactive">Error, campo no puede estar vacío</small>
                    </div>
                    <div class="edit-buttons-container">
                        <button class="edit-emprendimiento-btn" id="toggle-edition-btn" type="button">
                            <i class="bx bxs-edit"></i>
                            <p class="edit-btn-text">Editar emprendimiento</p>
                        </button>
                        <button class="edit-cancel-btn inactive" id="cancel-edition" type="button">
                            <p class="edit-btn-text">Cancelar cambios</p>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="emprendimiento-details">
                        <div class="emprendimiento-descripcion">
                            <i class="bx bxs-info-circle"></i>
                            <p class="emprendimiento-text active">
                                <%= emprendimiento.description %>
                            </p>
                            <div class="edit-form-container inactive">
                                <textarea 
                                    class="edit-form-textarea" 
                                    name="description"
                                    id="emprendimiento-descripcion-textarea"><%= emprendimiento.description %></textarea>
                                <small class="error-message inactive">Error, campo no puede estar vacío</small>
                            </div>
                        </div>
                        <div class="emprendimiento-direccion">
                            <i class="bx bxs-map"></i>
                            <p class="emprendimiento-text active">
                                <%= emprendimiento.address %>
                            </p>
                            <div class="edit-form-container inactive">
                                <textarea 
                                    class="edit-form-textarea"
                                    name="address"
                                    id="emprendimiento-direccion-textarea"><%= emprendimiento.address %></textarea>
                                <small class="error-message inactive">Error, campo no puede estar vacío</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="emprendimiento-image-container">
                <button class="edit-img-btn inactive" id="edit-img-trigger" type="button">
                    <i class="bx bxs-image"></i>
                    Cambiar imagen
                </button>
                <input type="file" id="edit-img-input" accept="image/*" class="edit-img-input inactive" name="image">
                <% console.log('imagen:', emprendimiento.image) %>
                <img 
                    src="<%= emprendimiento.image ? '/uploads/' + emprendimiento.image : '/images/default.jpeg' %>" 
                    alt="<%= emprendimiento.name %>" 
                    id="emprendimiento-img" 
                />
            </div>
        </div>
    </main>
    <script src="/js/editEmprendimientoInfo.js"></script>
</body>
</html>
