<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title || 'Núcleo Desamparados' %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet"> <!-- Importando fuente de letra Inter -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> <!-- Importando Boxicons -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/component-styles/sidebar.css">
    <link rel="stylesheet" href="/css/component-styles/header.css">
    <link rel="stylesheet" href="/css/component-styles/footer.css">
    <%- typeof style !== 'undefined' ? style : '' %>
</head>
<body>
    <%- include('../partials/sidebar') %>
    <%- include('../partials/header') %>

    <main>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/sidebarToggleMobile.js" defer></script>
</body>
</html>
